.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form-control,
.form-control:focus,
select {
  width: 70% !important;
  border-top: unset !important;
  border-left: unset !important;
  border-right: unset !important;
}
.text-left {
  margin-left: 250px;
}
#TableTotalResults td {
  text-align: right;
  font-weight: 500;
  font-size: large;
  padding: 15px;
}
#FirstResults,
#TableTotalResults {
  margin: 20px;
  width: 125%;
  margin-left: -250px;
}
#FirstResults td:first-child {
  width: 15%;
}
#FirstResults td {
  font-weight: 500;
  font-size: large;
  padding: 15px;
}
#FirstResultsTextUp {
  margin-left: -250px;
}
#FirstResultsTextUp h3 {
  color: #5185ad;
  font-weight: 700;
}
#FirstResultsTextUp h5 {
  color: #b0c220;
}

#ResultsDownTotal h3 {
  text-align: right;
  color: #5185ad;
  font-weight: 700;
  margin-right: 50px;
}

.form-label {
  margin-top: 2.5rem !important;
  font-size: larger;
  font-weight: 700;
}
.card-body {
  margin-bottom: 50px;
}
#sidebarArea {
  background-image: url("../assets/images/bg/sidebarbg.png");
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left {
  text-align: left;
}

.errorBorder {
  border: 2px solid red !important;
}
.showErrorMsg {
  visibility: visible !important;
}
.hideErrorMsg {
  visibility: hidden;
}
.disabledBtn {
  color: #fff;
  pointer-events: none;
  background-color: #0d6efd;
  border-color: #0d6efd;
  opacity: 0.65;
}
