.bg-primary {
    --bs-bg-opacity: 0 !important;}
.box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
.box .has-text-centered {
    text-align: center !important;
}
.box .field:not(:last-child) {
    margin-bottom: 0.75rem;
}
.box .mt-5 {
    margin-top: 1.5rem !important;
}
.box .label:not(:last-child) {
    margin-bottom: 0.5em;
}

.box .label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}
.box .input, .box .textarea {
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    width: 100%;
    border-color: #dbdbdb;
    border-radius: 4px;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
   
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}
.box .button.is-fullwidth {
    display: flex;
    width: 100%;
}

.box .button.is-success {
    background-color: #48c78e;
    border-color: transparent;
    color: #fff;
}
.box .button {
    font-weight: 600;
    font-size: larger;
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 9em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    user-select: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
  
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;

    position: relative;
    vertical-align: top;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
}
.box form{
    width: 100%
}
@media screen and (min-width: 769px){ 
    .columns:not(.is-desktop) {
    display: flex;
}}

.columns.is-centered {
    justify-content: center;
}
.columns:last-child {
    margin-bottom: -0.75rem;
}
.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}
@media screen and (min-width: 1024px){
.column.is-4-desktop {
    flex: none;
    width: 33.33333%;
}}

 .box .input:focus, .box .textarea:focus, .box .select select:focus, .box .is-focused.input, .box .is-focused.textarea, .box .select select.is-focused, .box .input:active, .box .textarea:active, .box .select select:active, .box .is-active.input, .box .is-active.textarea, .box .select select.is-active {
    border-color: #485fc7 !important;
    box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%) !important;
}
.box .input:hover, .box .textarea:hover, .box .select select:hover, .box .is-hovered.input, .box .is-hovered.textarea, .box .select select.is-hovered {
    border-color: #b5b5b5 !important;
}

.hero.is-fullheight {
    min-height: 100vh;
}

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero.is-halfheight .hero-body, .hero.is-fullheight .hero-body, .hero.is-fullheight-with-navbar .hero-body {
    /* align-items: center; */
    display: flex;
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}
.hero.is-halfheight .hero-body > .container, .hero.is-fullheight .hero-body > .container, .hero.is-fullheight-with-navbar .hero-body > .container {
    flex-grow: 1;
    flex-shrink: 1;
}

@media screen and (min-width: 1408px){
.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1344px;
}}

.columns.is-centered {
    justify-content: center;
}
.columns:last-child {
    margin-bottom: -0.75rem;
}
.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}