.step {
  color: white;
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: #B0C220;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step.completed {
  background-color: #B0C220;
}
